@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF8EC;
}

.header{
    margin-top: 0px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.header .logo{
    width: 500px;
    margin: 0px 0px 0px 10%;
}

.header .header-titulo{
    margin: 0px 0px 0px 10%;
    display: flex;
    justify-content: flex-start;
    font-family: "playfair-display";
    font-size: 60px;
    font-weight: 600;
    color: #2A6C3B;
}

.header .header-titulo#primeiro{
    margin: 15px 0px 0px 10%;
}

.header .header-div{
    margin: 15px 0px 0px 10%;
    display: flex;
    justify-content: flex-start;
    font-family: roboto;
    font-size: 30px;
    color: #2A6C3B;
}

.header .header-contato-btn{
    margin: 20px 0px 0px 10%;
    display: flex;
    justify-content: flex-start;
}

.header .header-contato-btn a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 15px;
    color: #FFF8EC;
    background: #B88079;
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
    }
    50%{
        transform: scale(1.1);
        box-shadow: 0 0 25px rgba(110, 110, 110, 0.5);
    }
    100%{
        transform: scale(1);
        box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
    }
}

.header .div-imagem-frontal{
    margin: 0px 10% 0px 0px;
    display: flex;
    justify-content: flex-end;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

/* Final Header */

/* Inicio section-1 */ 

.section-1{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: roboto;
}

.section-1 h2{
    display: flex;
    justify-content: center;
    color: #2A6C3B;
    font-style: roboto;
    font-size: 40px;
}

.section-1 .beneficios{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0 5%;
}

.section-1 .beneficios .card{
    background: #2A6C3B;
    width: calc(25% - 20px);
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*center*/
    align-items: center;
    border-radius: 15px;
    padding: 15px 10px; /*5px 5px*/
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.section-1 .beneficios .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/balanca.jpg);
    background-size: cover;
    opacity: 0.1;
    z-index: 1;
}

.section-1 .beneficios .card#qualidade-vida::before{
    background-image: url(../images/ar-livre.jpg);
}

.section-1 .beneficios .card#reeducação::before{
    background-image: url(../images/reeducação-prato.jpg);
}

.section-1 .beneficios .card#prevenção-doença::before{
    background-image: url(../images/prevencao-doença.png);
}

.section-1 .beneficios .card h3,
.section-1 .beneficios .card p{
    position: relative;
    z-index: 2;
}

.section-1 .beneficios .card .imagem{
    width: 70px;
    height: 70px; /**/
    margin-top: 15px; /**/
    margin-bottom: 15px; /**/
}
 

.section-1 .beneficios .card h3{
    color: #FFF8EC;
    font-size: 20px;
    margin-bottom: 10px; /**/
}

.section-1 .beneficios .card p{
    margin: 0px 15px 0px 15px;
    text-align: justify;
    color: white;
    font-size: 15px;
    flex-grow: 1; /**/
}

.section-1 .beneficios .card:hover{
    scale: 1.1;
    border: 1px solid #2A6C3B;
    background-color: #B88079;
    h3, p{
        color: #FFF8EC;
    }
}

.buttons{
    display: none;
}

/* Final section-1 */

/* Inicio section-2 */

#titulo-especialidades{
    color: #2A6C3B;
    font-family: roboto;
    font-size: 40px;
    text-align: center;
}

.section-2{
    width: 100%;
    height: 500px;
    margin-top: 110px;
    font-family: roboto;
}

.section-2 .elementos-flex{
    display: flex;
    justify-content: center;
}

.section-2 .atuacao{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 15px;
}

.section-2 .atuacao .card{
    width: 30%;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 15px 10px; /*20px*/
    background-color: #B88079;
    color: #FFF8EC;
}

.section-2 .atuacao .card:hover{
    scale: 1.1;
    background-color: #2A6C3B;
    color: white;
}

.section-2 .atuacao .card .imagem{
    width: 70px;
    height: 70px; /**/
    margin-top: 15px; /**/
    margin-bottom: 15px; /**/
}

.section-2 .atuacao .card h3{
    font-size: 20px;
    margin-bottom: 10px; /**/
}

.section-2 .atuacao .card p{
    font-size: 15px;
    text-align: justify;
    flex-grow: 1; /**/
    padding: 15px 10px;
}

/* Inicio section-3 */ 

#titulo-sobre{
    margin-top: 15px;
    text-align: center;
    color: #2A6C3B;
    font-family: roboto;
    font-size: 40px;
}

.section-3{
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: roboto;
}

.section-3 .sobre{
    width: 50%;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2A6C3B;
    border-radius: 15px;
    background-color: #B88079;
    text-align: justify;
}

.section-3 .sobre #texto{
    border-radius: 15px;
    text-align: justify;
    display: flex;
    align-items: center;
}

.section-3 .sobre #texto img{
    float: left;
    height: 350px;
    border-radius: 15px;
    padding-right: 15px;
}

.section-3 .sobre #texto p{
    font-size: 17px;
    color: #FFF8EC;
}

/* Final section-3 */
/* Inicio section-4 */

.agendamento-online{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.agendamento-online a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 15px;
    color: #FFF8EC;
    background: #B88079;
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
    }
    50%{
        transform: scale(1.1);
        box-shadow: 0 0 25px rgba(110, 110, 110, 0.5);
    }
    100%{
        transform: scale(1);
        box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
    }
}

.agendamento-presencial{
    text-align: center;
    color: #2A6C3B;
    font-family: roboto;
    font-size: 35px;
}

.section-4{
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.section-4 .local-atuacao{
    width: 350px;
    height: 570px;
    padding: 15px 15px;
    border-radius: 15px;
    background-color: #2A6C3B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-4 .local-atuacao h3{
    color: #FFF8EC;
    font-size: 20px;
    text-align: center;
}

.section-4 .local-atuacao iframe{
    width: 95%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.section-4 .local-atuacao h4{
    font-size: 20px;
    color: white;
}

.section-4 .local-atuacao p{
    height: 40px;
    font-size: 17px;
    color: white;
    text-align: center;
}

.section-4 .local-atuacao .agendamento{
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 15px;
    color: white;
    background: #B88079;
}

.section-4 .local-atuacao .agendamento a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

/* Final section-4 */
/* Footer */

.footer{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-image: linear-gradient(to bottom, #FFF8EC, #b38f8a);
    color: #2A6C3B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    font-size: 20px;
}

.footer #dev{
    text-align: center;
}

.footer #dev a{
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    html, body{
        width: 100%;
        padding: 0;
    }

    .header{
        height: auto;
        text-align: center;
    }

    .header .logo{
        width: 80%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .header-titulo{
        margin: 0px 0px 0px 0px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    .header .header-titulo#primeiro{
        margin: 10px 0px 0px 0px;
    }

    .header .header-div{
        font-size: 22px;
        margin: 15px 0px 0px 0px;
        align-items: center;
        justify-content: center;
    }

    .header .header-contato-btn{
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }

    .header .header-contato-btn a{
        margin: 0px 0px 0px 0px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header .div-imagem-frontal{
        margin: 15px 0px 0px 0px;
        justify-content: center;
    }

    .header .div-imagem-frontal img{
        width: 60%;
        height: auto;
    }

    .section-1{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
    }

    .section-1 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-1 .beneficios .card{
        display: none;
    }

   .section-1 .beneficios .card.active{
        display: flex;
        width: 90%;
        min-height: 500px;
    }

    .section-1 .beneficios .card.active:hover{
        scale: 1;
        background-color: #2A6C3B;
        border: none;
        h3, p{
            color: #FFF8EC;
        }
    }

    .section-1 .beneficios .buttons{
        display: flex;
        justify-content: center;
        button{
            border: none;
            background-color: transparent;
        }

        img{
            width: 20px;   
        }
    }

    .section-2{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
        margin-top: 300px;
    }

    .section-2 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-2 .elementos-flex .atuacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .section-2 .elementos-flex .atuacao .card{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 500px;
    }

    .section-2 .elementos-flex .atuacao .card:hover{
        scale: 1;
        background-color: #B88079;
        color: white;
    }

    #titulo-sobre{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-3{
        height: auto;
    }

    .section-3 .sobre{
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .section-3 .sobre #texto img{
        display: none;
    }

    .section-3 .sobre #texto{
        display: flex;
        flex-direction: column;
    }

    #agendamento-presencial{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-4{
        height: auto;
        gap: 15px;
    }

    .section-4 .local-atuacao{
        width: 80%;
    }

    .section-4 .local-atuacao .agendamento{
        text-align: center;
        width: 100%;
        height: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer{
        width: 100%;
        height: 100px;
        margin-top: 0px;
        font-size: 15px;
        text-align: center;
        border: none;
        align-items: end;
    }

    .footer .texto{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
}

@media screen and (max-width: 768px) and (min-width:481px){

    html, body{
        width: 100%;
        padding: 0;
    }

    .header{
        height: auto;
        text-align: center;
    }

    .header .logo{
        width: 80%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .header-titulo{
        margin: 0px 0px 0px 0px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    .header .header-titulo#primeiro{
        margin: 10px 0px 0px 0px;
    }

    .header .header-div{
        font-size: 22px;
        margin: 15px 0px 0px 0px;
        align-items: center;
        justify-content: center;
    }

    .header .header-contato-btn{
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }

    .header .header-contato-btn a{
        margin: 0px 0px 0px 0px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header .div-imagem-frontal{
        margin: 15px 0px 0px 0px;
        justify-content: center;
    }

    .header .div-imagem-frontal img{
        width: auto;
        height: auto;
    }

    .section-1{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
    }

    .section-1 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-1 .beneficios .card{
        display: none;
    }

   .section-1 .beneficios .card.active{
        display: flex;
        width: 90%;
        height: 300px;
    }

    .section-1 .beneficios .card.active:hover{
        scale: 1;
        background-color: #2A6C3B;
        border: none;
        h3, p{
            color: #FFF8EC;
        }
    }

    .section-1 .beneficios .buttons{
        display: flex;
        justify-content: space-between;

        button{
            border: none;
            background-color: transparent;
        }

        img{
            width: 20px;   
        }
    }

    .section-2{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
        margin-top: 100px;
    }

    .section-2 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-2 .elementos-flex .atuacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .section-2 .elementos-flex .atuacao .card{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 350px;
    }

    .section-2 .elementos-flex .atuacao .card:hover{
        scale: 1;
        background-color: #B88079;
        color: white;
    }

    #titulo-sobre{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-3{
        height: auto;
    }

    .section-3 .sobre{
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .section-3 .sobre #texto img{
        display: none;
    }

    .section-3 .sobre #texto{
        display: flex;
        flex-direction: column;
    }

    #agendamento-presencial{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-4{
        height: auto;
        gap: 15px;
    }

    .section-4 .local-atuacao{
        width: 80%;
    }

    .section-4 .local-atuacao .agendamento{
        text-align: center;
    }

    .footer{
        width: 100%;
        height: 100px;
        margin-top: 0px;
        font-size: 15px;
        text-align: center;
        border: none;
        align-items: end;
    }

    .footer .texto{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
}

@media screen and (max-width: 1024px) and (min-width:769px){

    html, body{
        width: 100%;
        padding: 0;
    }

    .header{
        height: auto;
        text-align: center;
    }

    .header .logo{
        width: 60%;
        margin: 10px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .header-titulo{
        margin: 0px 0px 0px 0px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    .header .header-titulo#primeiro{
        margin: 10px 0px 0px 0px;
    }

    .header .header-div{
        font-size: 22px;
        margin: 15px 0px 0px 0px;
        align-items: center;
        justify-content: center;
    }

    .header .header-contato-btn{
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }

    .header .header-contato-btn a{
        margin: 0px 0px 0px 0px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header .div-imagem-frontal{
        margin: 15px 0px 0px 0px;
        justify-content: center;
    }

    .header .div-imagem-frontal img{
        width: auto;
        height: auto;
    }

    .section-1{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
    }

    .section-1 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-1 .beneficios .card{
        display: none;
    }

   .section-1 .beneficios .card.active{
        display: flex;
        width: 90%;
        height: 300px;
    }

    .section-1 .beneficios .card.active:hover{
        scale: 1;
        background-color: #2A6C3B;
        border: none;
        h3, p{
            color: #FFF8EC;
        }
    }

    .section-1 .beneficios .buttons{
        display: flex;
        justify-content: space-between;

        button{
            border: none;
            background-color: transparent;
        }

        img{
            width: 20px;   
        }
    }

    .section-2{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
        margin-top: 100px;
    }

    .section-2 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-2 .elementos-flex .atuacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .section-2 .elementos-flex .atuacao .card{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 350px;
    }

    .section-2 .elementos-flex .atuacao .card:hover{
        scale: 1;
        background-color: #B88079;
        color: white;
    }

    #titulo-sobre{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-3{
        height: auto;
    }

    .section-3 .sobre{
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .section-3 .sobre #texto img{
        display: none;
    }

    .section-3 .sobre #texto{
        display: flex;
        flex-direction: column;
    }

    #agendamento-presencial{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-4{
        height: auto;
        gap: 15px;
    }

    .section-4 .local-atuacao{
        width: 80%;
    }

    .section-4 .local-atuacao .agendamento{
        text-align: center;
    }

    .footer{
        width: 100%;
        height: 100px;
        margin-top: 0px;
        font-size: 15px;
        text-align: center;
        border: none;
        align-items: end;
    }

    .footer .texto{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
}

@media screen and (max-width: 1280px) and (min-width:1025px){

    html, body{
        width: 100%;
        padding: 0;
    }

    .header{
        height: auto;
        text-align: center;
    }

    .header .logo{
        width: 60%;
        margin: 10px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .header-titulo{
        margin: 0px 0px 0px 0px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    .header .header-titulo#primeiro{
        margin: 10px 0px 0px 0px;
    }

    .header .header-div{
        font-size: 22px;
        margin: 15px 0px 0px 0px;
        align-items: center;
        justify-content: center;
    }

    .header .header-contato-btn{
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }

    .header .header-contato-btn a{
        margin: 0px 0px 0px 0px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header .div-imagem-frontal{
        margin: 15px 0px 0px 0px;
        justify-content: center;
    }

    .header .div-imagem-frontal img{
        width: auto;
        height: auto;
    }

    .section-1{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
    }

    .section-1 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-1 .beneficios .card{
        display: none;
    }

   .section-1 .beneficios .card.active{
        display: flex;
        width: 60%;
        height: 300px;
    }

    .section-1 .beneficios .card.active:hover{
        scale: 1;
        background-color: #2A6C3B;
        border: none;
        h3, p{
            color: #FFF8EC;
        }
    }

    .section-1 .beneficios .buttons{
        display: flex;
        justify-content: space-between;

        button{
            border: none;
            background-color: transparent;
        }

        img{
            width: 20px;   
        }
    }

    .section-2{
        height: auto;
        text-align: center;
        justify-content: start;
        font-size: 25px;
        margin-top: 100px;
    }

    .section-2 h2{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-2 .elementos-flex .atuacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .section-2 .elementos-flex .atuacao .card{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 350px;
    }

    .section-2 .elementos-flex .atuacao .card:hover{
        scale: 1;
        background-color: #B88079;
        color: white;
    }

    #titulo-sobre{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-3{
        height: auto;
    }

    .section-3 .sobre{
        width: 60%;
        height: auto;
        padding: 20px;
    }

    .section-3 .sobre #texto img{
        display: none;
    }

    .section-3 .sobre #texto{
        display: flex;
        flex-direction: column;
    }

    #agendamento-presencial{
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-4{
        height: auto;
        gap: 15px;
    }

    .section-4 .local-atuacao{
        width: 60%;
    }

    .section-4 .local-atuacao .agendamento{
        text-align: center;
    }

    .footer{
        width: 100%;
        height: 100px;
        margin-top: 0px;
        font-size: 15px;
        text-align: center;
        border: none;
        align-items: end;
    }

    .footer .texto{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
}

@media only screen and (min-width:1920px){
    .header{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .section-1{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .section-2{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .section-3{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .section-4{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}